
---
title: Multiples of $3$ or $5$
problem: 1
---

Multiples of $3$ or $5$
-----------------------


If we list all the natural numbers below $10$ that are multiples of $3$ or $5$, we get $3, 5, 6$ and $9$. The sum of these multiples is $23$.


Find the sum of all the multiples of $3$ or $5$ below $1000$.

## Solution

We can use the fact that the sum of the first $n$ natural numbers is $\frac{n(n+1)}{2}$ to solve this problem. 

The sum of all the multiples of $3$ below $1000$ is 
$$3 + 6 + 9 + \cdots + 999 = 3(1 + 2 + 3 + \cdots + 333) = 3 \cdot \frac{333 \cdot 334}{2}.$$

Similarly, the sum of all the multiples of $5$ below $1000$ is $5 \cdot \frac{199 \cdot 200}{2}$. 

However, we have counted the multiples of $15$ twice, so we must subtract them once. The sum of all the multiples of $15$ below $1000$ is $15 \cdot \frac{66 \cdot 67}{2}$. Thus, the answer is 
$$3 \cdot \frac{333 \cdot 334}{2} + 5 \cdot \frac{199 \cdot 200}{2} - 15 \cdot \frac{66 \cdot 67}{2} = 233168.$$